*{
  box-sizing: border-box;
}

body{
  background-color: rgb(245, 245, 245);
}

//HELPERS
.clean-link{
  text-decoration: none;
  color: inherit;
}


//FONTS

@font-face{
  font-family: 'cookie';
  src: url('./fonts/Cookie-Regular.ttf');
}

//CMPS

@import './cmps/header.scss'


