.login-signup-page{
    // border: 2px solid rgb(211, 211, 211);
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    height: 30rem;
    width: 25rem;
    // position: relative;
    max-width: 350px;
    // justify-content: center;
    // align-items: center;

    .login-signup-container{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: rgb(253, 253, 253);
        border: 1px solid rgb(211, 211, 211);
        // padding: 20px;
    }

    // .h1{
    //     height: 51px;
    //     width: 175px;
    // }

    .logo{
        align-self: center;
        display: flex;
        font-family: 'cookie';
        font-size: 51px;
        font-weight: bold;
        color: rgba(var(--i1d,38,38,38),1);
        margin: 22px auto 12px;
    }
    
    .login-form{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: 20px;
         
        .button-container{
            display: flex;
            flex-direction: column;
        }

        .user-input{
            display: flex;
            flex-direction: column;
        }
        input{
            margin-bottom: 0.7rem;
            border-radius: 4px;
            border: 1px solid lightgray;
            color: grey;
            font-weight: 400;
            font-size: 15px;
            height: 30px;
            padding: 5px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        button{

            &:hover{
                cursor: pointer;
                opacity: 0.8;
            }
            font-size: 1rem;
            background-color: rgba(var(--d69,0,149,246),1);
            color: rgba(var(--eca,255,255,255),1);
            margin-top: 10px;
            text-align: center;
            border: 1px solid transparent;
            border-radius: 4px;
            padding: 5px 9px;
            height: 2rem;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    }

    .signup-form{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: 20px;

        .user-input{
            display: flex;
            flex-direction: column;
        }
        input{
            margin-bottom: 5px;
        }
        button{
            background-color: rgba(var(--d69,0,149,246),1);
            color: rgba(var(--eca,255,255,255),1);
            margin-top: 10px;
            text-align: center;
            border: 1px solid transparent;
            border-radius: 4px;
            padding: 5px 9px;
        }
    }

    .signup-link{
    background-color: rgb(253, 253, 253);
    text-align: center;
    border: 1px solid rgb(211, 211, 211);
    margin-top: 8px;
    
        span {
            color: rgb(41, 127, 207);
        }
    }
}