// Helper
.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/////////////
.profile-followers-background{
    height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.63);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.profile-followers-modal{
    ::-webkit-scrollbar{
        display: block;
    }
    // overflow: visible;
    // overflow-y: scroll;
    min-height: 200px;
    max-height: 400px;
    width: 400px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(var(--f23,255,255,255),1);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    z-index: 1;
    border-radius: 12px;
    animation-name: fadeIn;
    animation-duration: .3s;

    .followers-header{

        font: inherit;
        display: flex;
        border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
        align-items: stretch;
        
        .spacer{
            height: 42px;
            display: flex;
            flex: 0 0 48px;
            align-items: center;
            justify-content: center;
        }
        .followers-headline{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            text-align: center;
        }
        .exit-followers{
            display: flex;
            cursor: pointer;
            padding: 8px;
            justify-content: center;
            align-items: center;
        }
    }

    .followers-container{
        
        display: block;
        flex: 1 1;
        min-height: 200px;
        overflow-y: scroll;

        .followers-list{
            display: flex;
            flex-direction: column;

            .each-follower{

                display: flex;
                flex: 0 0 auto;
                justify-content: flex-start;
                align-items: center;
                align-content: stretch;
                font: inherit;
                padding: 8px 16px;
                position: relative;
                height: 54px;
                
                .center{
                    display: flex;
                    flex: 0 0 auto;
                    margin: 4px 13px 4px 4px;
                    justify-content: flex-start;
                    align-items: stretch;
                    align-content: stretch;

                    img{
                        height: 30px;
                        width: 30px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
                .follower-names{
                    display: flex;
                    flex-direction: column;
                    flex: 1 1 auto;
                    justify-content: center;
                    align-items: stretch;
                    align-content: stretch;

                    .follower-username-follow{
                        margin: -3px 0 -4px;
                        align-items: stretch;
                        :link{
                            color: rgba(var(--i1d,38,38,38),1);
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 18px;
                        }
                        button{
                            color: rgba(var(--d69,0,149,246),1);
                            padding: 0;
                            margin-left: 11px;
                            font-size: 14px;
                            font-weight: 600;
                            text-align: center;
                            line-height: 18px;
                            span{
                                font-weight: 600;
                                font-size: 11px;
                                line-height: 16px;

                            }
                        }
                    }
                    .follower-fullname{
                        height: 18px;
                        margin-top: 2px;
                        flex: 0 0 auto;
                        justify-content: flex-start;
                        font-size: 14px;
                        font-weight: 400;
                        color: rgba(var(--f52,142,142,142),1);
                    }
                }
                .follower-remove{
                    font: inherit;
                    display: flex;
                    flex: 0 0 auto;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid rgba(var(--ca6,219,219,219),1);
                    border-radius: 4px;
                    color: rgba(var(--f75,38,38,38),1);
                    font-size: 14px;
                    font-weight: 600;
                    padding: 5px 9px;
                    text-align: center;
                    line-height: 18px;  
                }
                .follower-following{
                    font: inherit;
                    display: flex;
                    flex: 0 0 auto;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid rgba(var(--ca6,219,219,219),1);
                    border-radius: 4px;
                    color: rgba(var(--f75,38,38,38),1);
                    font-size: 14px;
                    font-weight: 600;
                    padding: 5px 9px;
                    text-align: center;
                    line-height: 18px;  
                }
                .follower-follow{
                    font: inherit;
                    display: flex;
                    flex: 0 0 auto;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid transparent;
                    border-radius: 4px;
                    background-color: rgba(var(--d69,0,149,246),1);
                    color: #fff;
                    font-size: 14px;
                    font-weight: 600;
                    padding: 5px 9px;
                    text-align: center;
                    line-height: 18px;  
                }
            }
        }
    }
}